

/* Big tablet to 1200px: widths smaller than 1140 pixels */
@media (max-width: 1140px){
  body{ font-size: 18px; }

  #section-heading:after{ width: 300px; }
}

/* small tablets to big tablets: from 768 to 1023 pixels */
@media only screen and (max-width: 1023px){
  
  body{ font-size: 18px; }

  .FormBody{ margin: 0 5%; }

  .Skills-list li{ padding: 0 0 10px 5px; }

  #section-heading:after{ width: 180px; }
}

/* Small phones to small tablets:from 481 to 767 pixels */
@media only screen and (max-width: 830px){
  body{
    max-width: 767px;
    font-size: 18px;
    background-attachment: fixed;
  }

  .Sidebar-Container{ display: none; }

  .FormBody{ padding: 0 5px; }

  #logo{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 15px;
  }

  .FlexContainer{ display: block; }

  .About-Text{ width: 100%; }

  .About-Pic-Container{
    margin: 0 auto;
    padding-top: 50px;
    width: 50%;
  }

  .Nav-LinksContainer{ display: none; }

  .mobile-nav-icon{ display: block; }

  .Feature-image img{
    height: 300px;
    filter: grayscale(70%) brightness(20%) contrast(1);
    border: none;
  }

  .Feature-image.Left{
    grid-column-start: 1;
    grid-column-end: 13;
    border: 2px solid rgba(12, 224, 232, 1);
    box-shadow: -30px 30px 30px 10px rgba(12, 224, 232, 0.55);
  }
  
  .Feature-image.Left img{ box-shadow: none; }

  .Feature-image.Right{
    grid-column-start: 1;
    grid-column-end: 13;
    border: 2px solid rgba(12, 224, 232, 1);
    box-shadow: 30px 30px 30px 10px rgba(12, 224, 232, 0.55);
  }

  .Feature-image.Right img{ box-shadow: none; }

  .Info.Left{
    padding-left: 4%;
    grid-column: 1 / 12;
  }
  
  .Info.Right{
    padding-right: 3%;
    grid-column: 2 / 13;
  }

  .Description-container{
    padding: 20px 0 0 0;
    background-color: unset;
    box-shadow: unset;
  }

  #section-heading:after{ width: 100%; }

  .Title-Container.Middle
  #section-heading:after { margin: 20px auto; width: 100%; }
}

/* Small phones: from 0 to 480 pixels */
@media only screen and (max-width: 480px) {

  body{ font-size: 15px; max-width: 1480px; }

  .Sidebar-Container{ display: none; }

  .About-Pic-Container{ width: 60%; }

  .Contact-Card { padding: 20px 10px; }

  .Projects-Other { padding: 0; }

}