

/* Big tablet to 1200px: widths smaller than 1140 pixels */
@media (max-width: 1140px){
  body{
   /*  background-image: linear-gradient(rgba(77, 85, 6, 0.1), rgba(49, 59, 4, 0.1)); */
    font-size: 18px;
  }
}

/* small tablets to big tablets: from 768 to 1023 pixels */
@media only screen and (max-width: 1023px){
  
  body{
    /* background-image: linear-gradient(rgba(160, 19, 19, 0.8), rgba(160, 31, 31, 0.8)); */
    font-size: 18px;
  }

  .FormBody{
    margin: 0 5%;
  }

}

/* Small phones to small tablets:from 481 to 767 pixels */
@media only screen and (max-width: 767px){
  body{
   /*  background-image: linear-gradient(rgba(5, 73, 25, 0.8), rgba(4, 54, 10, 0.795)); */
    max-width: 767px;
    font-size: 18px;

  }

  .Sidebar-Container{
    display: none;
  }

  .FormBody{
    padding: 0 5px;
  }

  #logo{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 15px;
  }

  .FlexContainer{
    display: block;
  }
  .About-Text{
    width: 100%;
  }

  .About-Pic-Container{
    margin: 0 auto;
    padding-top: 50px;
    width: 50%;
  }

  .Nav-LinksContainer{
    
    display: none;
  }

  .mobile-nav-icon{
    display: block;
  }

}

/* Small phones: from 0 to 480 pixels */
@media only screen and (max-width: 480px) {

  body{
    /* background-image: linear-gradient(rgba(32, 18, 112, 0.8), rgba(40, 17, 126, 0.8)); */
    font-size: 15px;
    max-width: 1480px;
  }
  .Sidebar-Container{
    display: none;
  }

  .About-Pic-Container{
    width: 60%;
  }
}